body{
  background:black;
}

#root{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 710px;


}

.div1 { grid-area: 2 / 2 / 6 / 5; border: 3px solid grey;
    padding: 20px;
  margin: 10px;    }
.div2 { grid-area: 6 / 2 / 7 / 5; border: 3px solid grey;
    padding: 20px;
  margin: 10px;    }
.div3 { grid-area: 1 / 1 / 2 / 6; border: 3px solid grey;
    padding: 20px;
  margin: 10px;    }
.div4 { grid-area: 2 / 5 / 7 / 6; border: 3px solid grey;
    padding: 20px;
  margin: 10px;    }
.div5 { grid-area: 2 / 1 / 7 / 2; border: 3px solid grey;
    padding: 20px;
  margin: 10px;    } 

  .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . .";
    height: 400px;
    width: 400px;
    margin: auto;

  }

.toolbarPixel{
  /* border: 10px white; */
  height: 15px;
  width: 100px;
  margin: auto;
}

h2{
  margin: auto;
  padding: 20px
}

.save{
  float:right;
}